
body {
	margin:0;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

header {
	position : fixed;
	top : 0;
	left: 0;
	z-index : 999;
	height:90px;
	width: 100%;
	margin: auto;
	background: rgba(255, 255, 255, 0.9);
}

#st-logo{
		padding-top: 20px;
}

#st-logo img{
	height: 62px;
	width:230px;

}

@media only screen and (max-width: 767px)
{
	#st-main-nav ul{
		transition: opacity 1s ease-out;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	#st-main-nav ul.is-visible{
		 opacity: 1;
		 height: 100vh;
	}
}



#trading_btn {
	margin-top: 20px;
}

#trading_btn a{
	color:#FFF;
}

#tvp_title{
	font-size:60px;
	font-family: "Calibri";
}

#st-main-nav{
	padding-top:10px;
}

.soc-right span{
	padding-left: 30px;
}

.dark-gradient{
	background-image: linear-gradient(to right, #012b5b, #000 100%);
}

.contact-form .form-control.selector option{
	background:#0c161e;
}

.primary-white{
	color : #FFFFFF;
}



.hero-index button{
	color:#FFFFFF;
	margin-top:50px;
	font-size:30px;
	padding: 10px 30px;
}

.about-text h3{
		font-size:40px;font-weight:bold;
}

.about-text h4{
		line-height:30px; font-size:20px;
}

#big-image button{
	font-size: 30px;
	color: #ffffff;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-weight: 400;
	margin-top: 25px;
	border-radius: 6px;
	padding: 10px 30px;
}

#quote{height:1000px;}
#quote2{height:800px;}
#quote3{height:500px;}
#tvp-quote, #tvp-apply{height:900px;}
#tvp-intro {height:900px;}

#quote-para1{
	font-size: 18px; visibility: visible; animation-name: fadeIn; text-align:left; width: 90%; padding-left:20%;
}


#tvp-intro img{
	width: 70%;
	padding-top: 60px;
}

.digital-section img{
		width:70%;
}

.call-to-section {
     height: 600px;
}


	.align-left{
		text-align : left;
		padding-left: 10em;
		padding-top:10em;
	}
	
	#ecomm-module, #ecomm3-module{
		font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
	#ecomm-module ul li,  #ecomm3-module ul li{
		font-size: 1.2em;
	}		
	
	.w-300{
		width : 300px;
	}
	
	.w-200{width : 200px}
	
	.text-center{
		text-align : center;
	}
	
	.pt-10{
		padding-top: 10px;
	}
	
	.pt-50{
		padding-top: 50px;
	}
	
	.grey-box{
		background-color: #ECECEC;
		width : 100%;
		padding : 30px;
	}
	
	.row-grey{
		background-color: #6cabe1;
	}
	
@media (max-width: 768px) {
	.sm\:img-center{
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
	}
}
	
@media (min-width: 640px) {	
	.sm\:text-center{
		text-align : center
	}
}
	
@media (min-width: 1024px) {	
	.lg\:pl-50{padding-left: 50px;}
	.lg\:text-left{text-align : left;}
	
	.lg\:float-left {float: left;}
	.lg\:float-right{float : right}
}
	
	.text-white{color : white;}
	
	.mt--100{margin-top:-100px;}

	.mt--400{margin-top:-400px;}
	
	.mb-30{margin-bottom:30px;}
	

@media only screen and (max-width: 480px) {
	body{
		max-width:480px;
	}
	
	
	.hero-section{
		max-width: 480px;
		background-size: 100%;
		height: 560px;
	}
	
	.service-headline h2 { 
		font-size: 30px;
	}
	
	.services-section {
		height: 1700px;
	}
}

@media only screen and (max-width: 767px) and (min-width : 481px){
	.hero-section{
			max-width: 767px;
			background-size: 100%;
			height: 600px;
		}
}


@media only screen and (max-width : 991px) and (min-width : 767px){
	.hero-section{
		max-width: 991px;
		background-size: 100%;
		height: 600px;
	}
}

@media only screen and (max-width: 991px) {
	.social{
		display:none;
	}
	
	.hero-index-logo{
		margin-top:150px;
	}
	
	.hero-index-logo img{
		width:90%;
	}
	
	.overlay-text h3, .image-section h3{
		font-size:20px;
	}
	
	.overlay-text h4, .image-section h4{
		font-size:16px;
	}
	
	.hero-index button{
		padding: 5px 20px;
		font-size:16px;
	}
	
	.about-text{padding: 0; padding-top: 30px;}
	
	#st-main-nav ul li a{
		color:#FFFFFF;
	}
	
	.about-text h3{
		font-size:20px;font-weight:bold;
	}
	.about-text h4{
		font-size:16px;line-height:20px; 
	}
	
	#big-image button{
		padding: 5px 20px;
		font-size:16px;	
	}
	
	.about-icons li .text{
		font-size:12px;
	}
	
	.about-icons li {
		width: 250px;
		text-align: left;
	}
	
	.about-text {
		height: 360px;
	}
	
	.about-section {
		height: 560px;
	}
	
	.about-services-section {
		height: 660px;
	}
	
	#quote .row .about-text, #quote2 .row .about-text, #quote3 .row .about-text, #services .row{
		padding:0 40px;
	}
	
	#thumb01{ width:100%;margin-left: -30px;}
	
	#quote{height:500px;}
	#quote2{height:500px;}
	#quote3{height:500px;}
	#tvp-quote{height:700px;}
	#tvp-apply{height:400px;}
	#tvp-intro{height:400px;}
	#thumb02{width:90%;}
	
	#tvp-apply .about-images img{width:100% !important;}
	
	#big-image .sec-text {
		padding-top: 30px;
		color: #FFFFFF;
	}
	
	#big-image h2{
		font-size:18px;
	}
	
	#big-image.image-section h3 {
		font-size: 18px;
		line-height: 22px;
	}
	
	#big-image.image-section h4 {
		font-size: 16px;
		line-height: 20px;
	}
	
	.our-work-section .see-work h2{
		line-height: 30px;
		font-size: 25px;
		margin: 0;
		font-weight: bold;
	}
	
	.our-work-section .see-work{
		height: 75px;
		padding: 20px 0;
	}

	.our-work-section .new-style{
		height:60px;
	}
	
	.about-text h2 {
		line-height: 22px;
		font-size: 20px;
	}
	
	.about-text p {
		line-height: 20px;
		font-size: 12px;
	}
	
	.quote-headline {
		height: 80px;
		padding: 20px 0;
	}
	
	.about-section {
		height: 700px;
	}
	
	.about-images {
		height: 270px;
	}
	
	.about-icons {
		margin-top: 70px;	
	}
	
	.about-images .image-left, .about-images .image-right {
		margin-top: 30px;
	}
	

	#quote-para1{
		font-size: 14px; visibility: visible; animation-name: fadeIn; text-align:left; width:100%; padding : 0 15px;
	}

	
	#tvp-intro {
		height: 900px;
	}
			
	#tvp-intro img{
		width: 100%;
		padding-top: 0;
	}
		
	.digital-section {

		height: 480px;
		width: 100%;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;

	}
	
	.digital-section img{
		width:100%;
	}
	
	.digital-section .skills-headline {	
		margin-bottom: 30px;
	}
	
	.quote-headline h4 {
		font-size: 18px;
	}
	
	.service-content .service-image-mobile{
		margin-bottom:60px;
	}
	
	.services-section{
		padding-bottom : 0;
	}
	
	#st-logo img {
		height: 54px;
		width: 200px;
	}
	
	.call-to-section p {
		line-height: 26px;
		font-size: 16px;
		color: #ffffff;
		font-weight: 300;
	}
	
	
}