
body {
    margin: 0;
    padding-top: 60px;
    overflow: hidden;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    background: #f3f3f3;
}



.navbar-inverse {
    margin-bottom: 0;
    background: #0c161e;
}
.navbar-inverse li a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-inverse li a .fa {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-right li {
    padding: 13px 8px;
}
.navbar-right li .btn {
    background: #7100B7;
    border: none;
    border-radius: 0;
    color: #ffffff;
    height: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-right li .btn span {
    display: inline-block;
    margin-left: 5px;
}
.navbar-right li .btn .fa {
    font-size: 14px;
}
.dropdown-menu {
    background: #0c161e;
    padding: 0;
}
.dropdown-menu li a {
    padding: 10px 10px;
    color: #FFFFFF;
}

iframe {
    width: 100%;
    display: block;
    border: none;
}
.frame-desktop {
    width: 100%;
}
.frame-tablet {
    width: 768px;
    height: 1024px;
    margin: 20px auto;
}

.frame-tablet-land {
    width: 1024px;
    height: 768px;
    margin: 20px auto;
}

.frame-mobile {
    width: 360px;
    height: 640px;
    margin: 20px auto;
}
.frame-mobile-land {
    width: 640px;
    height: 360px;
    margin: 20px auto;
}
.navbar-right li a.btn {
    padding: 6px 12px;
    color: #ffffff;
}
.navbar-right li a.btn:visited,
.navbar-right li a.btn:hover,
.navbar-right li a.btn:active,
.navbar-right li a.btn:focus {
    background: #7100B7;
}